doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Hololens
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Fullscreen Slit Slider with CSS3 and jQuery')
    meta(name='keywords', content='slit slider, plugin, css3, transitions, jquery, fullscreen, autoplay')
    meta(name='author', content='Codrops')
    link(rel='shortcut icon', href='../favicon.ico')
    link(rel='stylesheet', type='text/css', href='css/demo.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(rel='stylesheet', type='text/css', href='css/custom.css')
    script(type='text/javascript', src='js/modernizr.custom.79639.js')
    noscript
      link(rel='stylesheet', type='text/css', href='css/styleNoJS.css')
  body
    .container.demo-1
      #slider.sl-slider-wrapper
        .sl-slider
          .sl-slide.bg-1(data-orientation='horizontal', data-slice1-rotation='-25', data-slice2-rotation='-25', data-slice1-scale='2', data-slice2-scale='2')
            .sl-slide-inner
              .deco
                .gbr1
                  img(src='img/hololen.jpg')
              .coba
                h2 Microsoft Hololens
                br
                blockquote
                  h3 Nama Kelompok : 
                  br
                  ul
                    | 1. Nadhilah Putri Nst - 151111526
                    br
                    br
                    |                 2. Jesika Nauly Hutagalung - 151112262
                    br
                    br
                    |                 3. Sari Feronika Sitorus - 151113462
                    br
                    br
                    |                 4. Fadly Pranata Simanungkalit - 151111992
          .sl-slide.bg-2(data-orientation='vertical', data-slice1-rotation='10', data-slice2-rotation='-15', data-slice1-scale='1.5', data-slice2-scale='1.5')
            .sl-slide-inner
              .deco
                img(src='img/hol.jpg')
              h2 Pengertian Hololens
              blockquote
                .ab
                  b Microsoft HoloLens
                  |  adalah sebuah teknologi komputasi visual yang memiliki fungsi mirip seperti kacamata pintar. Microsoft Hololens menggabungkan antara virtual reality dan augmented reality sehingga menciptakan mixed reality. Mixed reality memungkinkan membawa tampilan grafis dalam dunia virtual ke dalam dunia nyata. Pengguna bisa berinteraksi dengan benda virtual yang dihasilkan oleh microsoft hololens.
          .sl-slide.bg-3(data-orientation='horizontal', data-slice1-rotation='3', data-slice2-rotation='3', data-slice1-scale='2', data-slice2-scale='1')
            .sl-slide-inner
              .deco
                img(src='img/g.jpg')
              .js
                h2 Cara Kerja Microsoft Hololens
              .sj
                p
                  | Pada sebuah dinding kosong ,hololens ini bisa menampilkan sebuah layar televisi misalnya pada kulkas hololens bisa memperlihatkan bahan makanan apa saja yang harus kita beli .HoloLens ini juga mendukung produktivitas dan hiburan. Kita dapat menggunakan HoloLens untuk merancang desain 3D, apakah itu rumah, motor, mobil, helicopter, bahkan pesawat sekaligus.
          .sl-slide.bg-4(data-orientation='vertical', data-slice1-rotation='-5', data-slice2-rotation='25', data-slice1-scale='2', data-slice2-scale='1')
            .sl-slide-inner
              .deco
                img(src='img/hol2.jpg')
              .oc
                h2 Spesifikasi Hololens
              .qw
                h3 Optics:
                h4
                  ul 1. See-through holographic lenses (waveguides)
                  ul 2. 2HD 16:9 light engines
                  ul 3. Automatic pupillary distance calibration
                  ul 4. Holographic Resolution: 2.3M total light point
                  ul 5. Holographic Density: >2.5k radiants (light points per radian)
          .sl-slide.bg-5(data-orientation='horizontal', data-slice1-rotation='-5', data-slice2-rotation='10', data-slice1-scale='2', data-slice2-scale='1')
            .sl-slide-inner
              .deco
                img(src='img/hol3.jpg')
              .aw
                h2 Spesifikasi Hololens:
              .bl
                h3 Input/ Output/ Connectivity :
                .bi
                  ul 1. Built-in speakers
                  br
                  ul 2. Audio 3.5mm jack
                  br
                  ul 3. Volume up/down
                  br
                  ul 4. Brightness up/down
                  br
                  ul 5. Tombol power
                  br
                  ul 6. Battery status LEDs
                  br
                  ul 7. Wi-Fi 802.11ac
                  br
                  ul 8. Micro-USB 2.0
                  br
                  ul 9. Kabel
          .sl-slide.bg-6(data-orientation='vertical', data-slice1-rotation='10', data-slice2-rotation='-15', data-slice1-scale='1.5', data-slice2-scale='1.5')
            .sl-slide-inner
              .deco
                img(src='img/g.jpg')
              .jk
                h2 Spesifikasi Hololens:
              .bl
                h3 Sensors :
                .ib
                  ul 1. 1 IMU
                  ul 2. 4 environment understanding cameras
                  ul 3. 1 depth camera
                  ul 4. 1 2MP photo / HD video camera
                  ul 5. Mixed reality capture
                  ul 6. 4 microphones
                  ul 7. 1 ambient light sensor
          .sl-slide.bg-7(data-orientation='horizontal', data-slice1-rotation='-5', data-slice2-rotation='10', data-slice1-scale='2', data-slice2-scale='1')
            .sl-slide-inner
              .deco
                img(src='img/g.jpg')
              .kj
                h2 Spesifikasi Hololens:
              .bl
                h3 OS dan Apps
                .ib
                  ul 1. Windows 10
                  ul 2. Windows Store
                .dl
                  h3 Processors
                  .op
                    ul 1. Intel 32 bit architecture
                    ul 2. Microsoft Holographic Processing Unit (HPU 1.0)
          .sl-slide.bg-8(data-orientation='vertical', data-slice1-rotation='10', data-slice2-rotation='-15', data-slice1-scale='1.5', data-slice2-scale='1.5')
            .sl-slide-inner
              .deco
                img(src='img/g.jpg')
              h2 Spesifikasi Hololens:
              blockquote
                h3 Memory :
                ul 1. 64GB Flash
                ul 2.  2GB RAM (2GB CPU and 1GB HPU)
                h3 Weight :
                ul 1. 579 g
          .sl-slide.bg-9(data-orientation='horizontal', data-slice1-rotation='10', data-slice2-rotation='-15', data-slice1-scale='1.5', data-slice2-scale='1.5')
            .sl-slide-inner
              .deco
                img(src='img/g.jpg')
              h2 Kelebihan Hololens:
              blockquote
                ul 1. Tidak memiliki kabel, jadi tidak perlu terhubung dengan komputer
                ul
                  | 2. Lensa transparan dan sensor canggih sehingga pemakai bisa seakan-akan berada didalam apa yang dilihatnya
                ul
                  | 3. Ringan dan dapat disesuaikan dengan ukuran kepala masing-masing orang sehingga nyaman ketika digunakan
                ul
                  | 4. Built-in suara spasial memungkinkan pemakai mendengar hologram dimanapun mereka berada di ruangan dengan posisi yang tepat
                ul 5. Teknologi dimasa depan terbaru yang beroperasi di Windows 10
          .sl-slide.bg-10(data-orientation='vertikal', data-slice1-rotation='10', data-slice2-rotation='-15', data-slice1-scale='1.5', data-slice2-scale='1.5')
            .sl-slide-inner
              .deco
                img(src='img/g.jpg')
              h2 Kelemahan Hololens:
              blockquote
                ul 1. HoloLens secara signifikan lebih rendah-resolusi
                ul 2. Microsoft ingin Anda untuk fokus pada “kepadatan hologram”
                ul 3. Hologram akan muncul hanya pada jarak tertentu
                ul 4. Pembatasan Memory akan membatasi game dan aplikasi
                ul 5. Hololens akan melindungi diri dengan membunuh aplikasi Anda
                ul 6. Anda dapat merekam hologram, tapi hanya sebentar
                ul 7. Anda dapat mengontrol Hololens jarak jauh
          .sl-slide.bg-11(data-orientation='horizontal', data-slice1-rotation='10', data-slice2-rotation='-15', data-slice1-scale='1.5', data-slice2-scale='1.5')
            .sl-slide-inner
              .deco
                img(src='img/g.jpg')
              h2 Perbedaan Hololens dan Virtual Reality:
              blockquote
                p
                  | Holoens itu adalah pengabungan dari augmented reality sehingga menciptakan mixed reality.
                  | Virtual reality adalah teknologi yang dapat berinteraksi dengan suatu lingkungan yang disimulasikan oleh komputer.
        // /sl-slider
        nav#nav-dots.nav-dots
          span.nav-dot-current
          span.nav-dot-current
          span.nav-dot-current
          span.nav-dot-current
          span.nav-dot-current
          span.nav-dot-current
          span.nav-dot-current
          span
          span
          span
          span
      // /slider-wrapper
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(type='text/javascript', src='js/jquery.ba-cond.min.js')
    script(type='text/javascript', src='js/jquery.slitslider.js')
    script(type='text/javascript').
      $(function() {
      var Page = (function() {
      var $navArrows = $( '#nav-arrows' ),
      $nav = $( '#nav-dots > span' ),
      slitslider = $( '#slider' ).slitslider( {
      onBeforeChange : function( slide, pos ) {
      $nav.removeClass( 'nav-dot-current' );
      $nav.eq( pos ).addClass( 'nav-dot-current' );
      }
      } ),
      init = function() {
      initEvents();
      },
      initEvents = function() {
      // add navigation events
      $navArrows.children( ':last' ).on( 'click', function() {
      slitslider.next();
      return false;
      } );
      $navArrows.children( ':first' ).on( 'click', function() {
      slitslider.previous();
      return false;
      } );
      $nav.each( function( i ) {
      $( this ).on( 'click', function( event ) {
      var $dot = $( this );
      if( !slitslider.isActive() ) {
      $nav.removeClass( 'nav-dot-current' );
      $dot.addClass( 'nav-dot-current' );
      }
      slitslider.jump( i + 1 );
      return false;
      } );
      } );
      };
      return { init : init };
      })();
      Page.init();
      /**
      * Notes:
      *
      * example how to add items:
      */
      /*
      var $items  = $('<div class="sl-slide sl-slide-color-2" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1"><div class="sl-slide-inner bg-1"><div class="sl-deco" data-icon="t"></div><h2>some text</h2><blockquote><p>bla bla</p><cite>Margi Clarke</cite></blockquote></div></div>');
      // call the plugin's add method
      ss.add($items);
      */
      });
