doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TKPPL
    style.
      img{
      width: 250px;
      height: 250px;
      }
      #slider {
      width: 250px;
      height: 250px;
      overflow: hidden;
      border: 1px solid #0089f3;
      }
      .slide {
      width: 250px;
      height: 250px;
      float: left;
      position: relative;
      }
      #slide-holder {
      width: 410%;
      position: relative;
      animation: scroller 20s infinite;
      }
      @keyframes scroller {
      0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      }
      33% {
      -webkit-transform: translateX(-400px);
      transform: translateX(-400px);
      }
      66% {
      -webkit-transform: translateX(-800px);
      transform: translateX(-800px);
      }
      100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      }
      }
      b{
      color:#1cf3ff;
      }
      .b p
      {
      color:yellow;
      text-align: justify;
      margin: 0px;
      }
      .tengah p{
      float: left;
      text-align: left;
      padding :none;
      width: 500px;
      color: black;
      }
      h2{
      text-align: center;
      color:#ae81ff;
      font-family: "Times New Roman";
      }
      h1
      {
      color:#ae81ff;;
      font-family: Monotype Corsiva;
      }
      .header, .a,.b,.c,.d,.z,.y,.x,.w
      {
      background-color: rgba(0, 0, 0, 0);
      border-radius: 100%;
      }
      li{
      color : white;
      font-size: 20px;
      font-weight: bold;
      text-align: justify;
      }
      h3{
      color:#1cf3ff;
      }
      h3.c{
      color: crimson;
      font-size: 30px;
      }
      code[class*="language-"],
      pre[class*="language-"] {
      color: #f8f8f2;
      background: none;
      text-shadow: 0 1px rgba(0, 0, 0, 0.3);
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      line-height: 1.5;
      -moz-tab-size: 4;
      tab-size: 4;
      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
      }
      /* Code blocks */
      pre[class*="language-"] {
      padding: 1em;
      margin: .5em 0;
      overflow: auto;
      border-radius: 0.3em;
      }
      :not(pre) > code[class*="language-"],
      pre[class*="language-"] {
      background: #272822;
      }
      /* Inline code */
      :not(pre) > code[class*="language-"] {
      padding: .1em;
      border-radius: .3em;
      white-space: normal;
      }
      .token.comment,
      .token.prolog,
      .token.doctype,
      .token.cdata {
      color: slategray;
      }
      .token.punctuation {
      color: #f8f8f2;
      }
      .namespace {
      opacity: .7;
      }
      .token.property,
      .token.tag,
      .token.constant,
      .token.symbol,
      .token.deleted {
      color: #f92672;
      }
      .token.boolean,
      .token.number {
      color: #ae81ff;
      }
      .token.selector,
      .token.attr-name,
      .token.string,
      .token.char,
      .token.builtin,
      .token.inserted {
      color: #a6e22e;
      }
      .token.operator,
      .token.entity,
      .token.url,
      .language-css .token.string,
      .style .token.string,
      .token.variable {
      color: #f8f8f2;
      }
      .token.atrule,
      .token.attr-value,
      .token.function {
      color: #e6db74;
      }
      .token.keyword {
      color: #66d9ef;
      }
      .token.regex,
      .token.important {
      color: #fd971f;
      }
      .token.important,
      .token.bold {
      font-weight: bold;
      }
      .token.italic {
      font-style: italic;
      }
      .token.entity {
      cursor: help;
      }
      body{
      font: 12px Helvetica, Arial, sans-serif;
      background-image:url(gbr/night.jpg);
      background-size:cover;
      }
      a.button {
      border-radius: 5px;
      }
      .z h4{
      color:white;
      }
      .w h2{
      font-size:3em;
      }
      .w p{
      text-align: justify;
      color: white;
      font-size: 15px;
      margin: 0px;
      }
      .x h1{
      color: #a6e22e;
      font-family: Colonna MT;
      }
  body
    article
      section.a
        ul
          li
            h1
              marquee Teknologi Hololens
        ul
          li
            h3 Nama Anggota Kelompok :
          li 1.Nadhilah Putri Nst 151111526
          li 2.Jesika Nauly Hutagalung 151112262
          li 3.Sari Feronika Sitorus 151113462
          li 4.Fadly Pranata Simanungkalit 151111992
      section.b
        h2 Pengertian Hololens
        #slider
          #slide-holder
            .slide
              img(src='gbr/hol.jpg', alt='')
            .slide
              img(src='gbr/hol2.jpg', alt='')
            .slide
              img(src='gbr/hol3.jpg', alt='')
            .slide
              img(src='gbr/hololens.jpg', alt='')
        p
          b Microsoft HoloLens
          |  adalah sebuah teknologi komputasi visual yang memiliki fungsi mirip seperti kacamata pintar. Microsoft Hololens menggabungkan antara virtual reality dan augmented reality sehingga menciptakan mixed reality. Mixed reality memungkinkan membawa tampilan grafis dalam dunia virtual ke dalam dunia nyata. Pengguna bisa berinteraksi dengan benda virtual yang dihasilkan oleh microsoft hololens.
      section.z
        ul
          li
            h2 Cara Kerja Microsoft Hololens
        ul
          li
            h4
              | Pada sebuah dinding kosong ,hololens ini bisa menampilkan sebuah layar televisi misalnya pada kulkas hololens bisa memperlihatkan bahan makanan apa saja yang harus kita beli .HoloLens ini juga mendukung produktivitas dan hiburan. Kita dapat menggunakan HoloLens untuk merancang desain 3D, apakah itu rumah, motor, mobil, helicopter, bahkan pesawat sekaligus.
      section.y
        ul
          li
            h2 Spesifikasi Teknis
        ul
          li
            h3.c Optics :
          li 1. See-through holographic lenses (waveguides)
          li 2. 2HD 16:9 light engines
          li 3. Automatic pupillary distance calibration
          li 4. Holographic Resolution: 2.3M total light points
          li 5. Holographic Density: >2.5k radiants (light points per radian)
      section.y
        ul
          li
            h2 Spesifikasi Teknis
        ul
          li
            h3.c Input/ Output/ Connectivity :
          li 1. Built-in speakers
          li 2. Audio 3.5mm jack
          li 3. Volume up/down
          li 4. Brightness up/down
          li 5. Tombol power
          li 6. Battery status LEDs
          li 7. Wi-Fi 802.11ac
          li 8. Micro-USB 2.0
          li 9. Kabel
      section.y
        ul
          li
            h2 Spesifikasi Teknis
        ul
          li
            h3.c Sensors :
          li 1. 1 IMU
          li 2. 4 environment understanding cameras
          li 3. 1 depth camera
          li 4. 1 2MP photo / HD video camera
          li 5. Mixed reality capture
          li 6. 4 microphones
          li 7. 1 ambient light sensor
      section.y
        ul
          li
            h2 Spesifikasi Teknis
          li
            h3.c OS and Apps :
          li a. Windows 10
          li b. Windows Store
          li
            h3.c Processors :
          li a. Intel 32 bit architecture
          li b. Microsoft Holographic Processing Unit (HPU 1.0)
      section.y
        ul
          li
            h2 Kelebihan Hololens:
        ul
          li
            h3.c Ada 5 kelebihan Hololens:
        ul
          li 1. Tidak memiliki kabel, jadi tidak perlu terhubung dengan komputer
          li
            | 2. Lensa transparan dan sensor canggih sehingga pemakai bisa seakan-akan berada didalam apa yang dilihatnya
          li
            | 3. Ringan dan dapat disesuaikan dengan ukuran kepala masing-masing orang sehingga nyaman ketika digunakan.
          li
            | 4. Built-in suara spasial memungkinkan pemakai mendengar hologram dimanapun mereka berada di ruangan dengan posisi yang tepat.
          li 5. Teknologi dimasa depan terbaru yang beroperasi di Windows 10 
      section.y
        ul
          li
            h2 Kelemahan Hololens:
        ul
          li
            h3.c Ada 7 kelemahan Hololens:
        ul
          li 1. HoloLens secara signifikan lebih rendah-resolusi
          li 2. Microsoft ingin Anda untuk fokus pada “kepadatan hologram”
          li 3. Hologram akan muncul hanya pada jarak tertentu
          li 4. pembatasan Memory akan membatasi game dan aplikasi
          li 5. HoloLens akan melindungi diri dengan membunuh aplikasi Anda
          li 6. Anda dapat merekam hologram, tapi hanya sebentar
          li 7. Anda dapat mengontrol HoloLens jarak jauh
      section.w
        ul
          li
            h2 Perbedaan Hololens dan Virtual Reality
            br
        ul
          li
            p
              | Hololens itu adalah pengabungan dari augmented reality sehingga menciptakan mixed reality.
          li
            p
              | Virtual reality adalah teknologi yang dapat berinteraksi dengan suatu lingkungan yang disimulasikan oleh komputer.
      section.x
        h1 Thank You
    script(src='build/build.js')
