doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TKPPL
    
    link(rel='stylesheet', type='text/css', href='build/build.css')
 
  body
  
  
    article

      section
        h1 Hololens
        h3 Nama Kelompok :
        ul
        li1. Nadhilah Putri Nst 151111526
        li2. Jesika Nauly Hutagalung 151112262
        li3. Sari Feronika Sitorus 151113462
        li4. Fadly Pranata Simanungkalit 151111992
      section
        
        h2 Pengertian Hololens
        p Microsoft HoloLens adalah sebuah teknologi komputasi visual yang memiliki fungsi mirip seperti kacamata pintar. Microsoft Hololens menggabungkan antara virtual reality dan augmented reality sehingga menciptakan mixed reality. Mixed reality memungkinkan membawa tampilan grafis dalam dunia virtual ke dalam dunia nyata. Pengguna bisa berinteraksi dengan benda virtual yang dihasilkan oleh microsoft hololens. 
        <a href="https://id.wikipedia.org/wiki/Microsoft_Hololens">Microsoft Hololens</a>

      section
        h2 Contoh yang bisa Dimunculkan Microsoft Hololens
        h3 Contohnya pada sebuah dinding kosong ,hololens ini bisa menampilkan sebuah layar televisi atau misalnya pada kulkas hololens bisa memperlihatkan bahan makanan apa saja yang harus kita beli .HoloLens ini juga mendukung produktivitas dan hiburan Kita dapat menggunakan HoloLens untuk merancang desain 3D, apakah itu rumah, motor, mobil, helicopter, bahkan pesawat sekaligus. 

      section
        h2 Spesifikasi Teknis
        p Optics :

                               li See-through holographic lenses (waveguides)
                               li 2 HD 16:9 light engines
                               li Automatic pupillary distance calibration
                               li Holographic Resolution: 2.3M total light points
                               li Holographic Density: >2.5k radiants (light points per radian)
        p Sensors :

                               li 1 IMU
                               li 4 environment understanding cameras
                               li 1 depth camera
                               li 1 2MP photo / HD video camera
                               li Mixed reality capture
                               li 4 microphones
                               li 1 ambient light sensor



      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')